header {
  width: 100%;
  min-width: 900px;
  height: 88px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 56px;
  padding-right: 16px;
}

main .col-2 {
  min-width: 150px;
  min-height: 900px;
}

main .col-2 a {
  color: black;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

main .col-2 a span {
  padding-right: 10px;
}

main .col-2 a i {
  padding-right: 10px;
  display: inline-block;
}

main .col-2 a .bi-caret-right-fill {
  padding-right: 0px;
}

main .col-2 a:hover {
  color: #bc0108;
  background-color: #f8e8e8;
  border-right: 5px solid #bc0108;
}

main .col-2 a div a:hover {
  background-color: #f8e8e8;
  border-right: 4px solid #bc0108;
}

main .col-2 a.active {
  color: #bc0108;
}

main .col-2 a.arrow_roll i.bi-caret-right-fill {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

main .col-2 a.collapsed i.bi-caret-right-fill {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

main .col-10 {
  min-height: 900px;
}

main .col-10 .tab-content #home_page h5 {
  line-height: 70px;
  padding-left: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .col-10 .tab-content #home_page .home_page_item .first_line .card {
  width: 24%;
  min-width: 300px;
  border-top: 5px solid #bc0108;
}

main .col-10 .tab-content #home_page .home_page_item .first_line .card .card-header {
  background-color: transparent;
  border-bottom: none;
}

main .col-10 .tab-content #home_page .home_page_item .first_line .card .card-header span:first-child {
  font-size: 16px;
  border-left: 4px solid #bc0108;
}

main .col-10 .tab-content #home_page .home_page_item .first_line .card .card-header span:last-child {
  font-size: 12px;
}

main .col-10 .tab-content #home_page .home_page_item .first_line .card .card-body p:first-child span {
  font-size: 20px;
}

main .col-10 .tab-content #home_page .home_page_item .first_line .card .card-body p:first-child span:last-child {
  font-size: 32px;
  font-weight: bolder;
}

main .col-10 .tab-content #home_page .home_page_item .first_line .card .card-body p:last-child {
  font-size: 12px;
}

main .col-10 .tab-content #home_page .home_page_item .second_line .tab_left {
  background-color: white;
  border-top: 5px solid #bc0108;
  width: 49%;
  min-width: 650px;
}

main .col-10 .tab-content #home_page .home_page_item .second_line .tab_left .d-flex .number_of_buyer {
  font-size: 24px;
}

main .col-10 .tab-content #home_page .home_page_item .second_line .tab_left .d-flex p span {
  font-size: 14px;
  color: #999999;
}

main .col-10 .tab-content #home_page .home_page_item .third_line .tab_bottom {
  border-top: 5px solid #bc0108;
  width: 32%;
  min-width: 430px;
}

main .col-10 .tab-content .tab-pane:nth-child(2) h5 {
  line-height: 70px;
  padding-left: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .col-10 .tab-content .tab-pane:nth-child(2) form {
  border-top: 5px solid #bc0108;
}

main .col-10 .tab-content .tab-pane:nth-child(2) form div label {
  text-align: right;
  padding-right: 0px;
  font-size: 20px;
  font-weight: bolder;
}

main .col-10 .tab-content .tab-pane:nth-child(2) form div div input {
  height: 100%;
}

main .col-10 .tab-content .tab-pane:nth-child(2) form div div select {
  background-color: #f1f1f1;
}

main .col-10 .tab-content .tab-pane:nth-child(2) .down_pannel {
  border-top: 5px solid #bc0108;
}

main .col-10 .tab-content .tab-pane:nth-child(2) .down_pannel table {
  height: 50px;
  background-color: #f5d9da;
  text-align: center;
  color: #bc0108;
  font-weight: bolder;
}

main .col-10 .tab-content .tab-pane:nth-child(3) {
  min-height: 1000px;
}

main .col-10 .tab-content .tab-pane:nth-child(3) h5 {
  line-height: 70px;
  padding-left: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .col-10 .tab-content .tab-pane:nth-child(3) form {
  border-top: 5px solid #bc0108;
}

main .col-10 .tab-content .tab-pane:nth-child(3) form .left_item div {
  font-size: 20px;
}

main .col-10 .tab-content .tab-pane:nth-child(3) form .left_item div span {
  font-weight: bolder;
}

main .col-10 .tab-content .tab-pane:nth-child(3) form .left_item div button {
  width: 20%;
}

main .col-10 .tab-content .tab-pane:nth-child(3) form .right_item div button {
  width: 15%;
}

main .col-10 .tab-content .tab-pane:nth-child(3) form .right_item div .big_button {
  font-size: 20px;
  font-weight: bold;
  border: 3px dashed #cacaca;
  height: 400px;
}

main .col-10 .tab-content .tab-pane:nth-child(3) form .right_item div .white_button {
  width: 20%;
  height: 120px;
  border: 3px solid #cacaca;
}

main .col-10 .tab-content .tab-pane:nth-child(4) {
  min-height: 900px;
}

main .col-10 .tab-content .tab-pane:nth-child(4) h5 {
  line-height: 70px;
  padding-left: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .col-10 .tab-content .tab-pane:nth-child(4) .tp04_head {
  font-size: 20px;
  line-height: 37px;
}

main .col-10 .tab-content .tab-pane:nth-child(4) .tp04_head row {
  height: 80px;
}

main .col-10 .tab-content .tab-pane:nth-child(4) .tp04_head input {
  width: 150px;
}

main .col-10 .tab-content .tab-pane:nth-child(4) #product_list {
  border-top: 5px solid #bc0108;
  border-radius: 10px;
}

main .col-10 .tab-content .tab-pane:nth-child(4) #product_list thead {
  background-color: #f5d9da;
  border-radius: 10px;
  font-size: 20px;
  line-height: 84px;
  text-align: center;
}

main .col-10 .tab-content .tab-pane:nth-child(4) #product_list thead td {
  width: 13%;
}

main .col-10 .tab-content .tab-pane:nth-child(4) #product_list thead .last_col {
  width: 22%;
}

main .col-10 .tab-content .tab-pane:nth-child(4) #product_list tbody {
  font-size: 16px;
  text-align: center;
}

main .col-10 .tab-content .tab-pane:nth-child(4) #product_list tbody tr {
  height: 84px;
}

main .col-10 .tab-content .tab-pane:nth-child(4) nav a {
  border: none;
  color: black;
  height: 50px;
  line-height: 34px;
}

main .col-10 .tab-content .tab-pane:nth-child(4) nav a input {
  width: 50px;
}
