* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
}

header, nav {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #d6d6d6;
}

header .header_base, header .header_nav, header .nav_base, nav .header_base, nav .header_nav, nav .nav_base {
  max-width: 1200px;
  min-width: 1000px;
  margin: 0 auto;
}

header ul, nav ul, .foot_item ul {
  list-style-type: none;
}

header ul li, nav ul li, .foot_item ul li {
  display: inline-block;
}

body {
  font-size: 0px;
}

header {
  width: 100%;
  position: relative;
  z-index: 1;
}

nav {
  position: relative;
  height: 42px;
  line-height: 42px;
}

nav .nav_base {
  width: 1200px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav .nav_base span:first-child {
  position: absolute;
  left: 0px;
}

nav .nav_base div {
  display: inline-block;
  font-size: 14px;
}

nav .nav_base div img {
  vertical-align: middle;
}

nav .nav_base div span {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bolder;
}

nav .nav_base div .nav_font_color_red {
  color: #c10000;
}

nav .nav_base a {
  text-decoration: underline;
  color: black;
}

main {
  height: 600px;
}

main a:first-child {
  font-size: 17px;
  text-align: center;
  font-weight: bolder;
  line-height: 80px;
  color: #c21e2e;
}

main a:nth-child(2) p {
  font-size: 17px;
  text-align: center;
  font-weight: bolder;
  line-height: 40px;
  color: #4c7ac6;
}

main .gs_you_like {
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  line-height: 40px;
  color: #000000;
}

main #carouse1 {
  max-width: 1200px;
  min-width: 800px;
  margin: 0px auto;
  position: relative;
}

main #carouse1 .carousel-inner {
  max-width: 1200px;
}

main #carouse1 .row {
  max-width: 1200px;
  min-width: 800px;
}

main #carouse1 .row .col-xl-2 {
  width: 220px;
  margin-right: 25px;
  padding: 0px;
}

main #carouse1 .row .col-xl-2 img {
  width: 100%;
}

main #carouse1 .row .col-xl-2 p {
  margin-bottom: 0px;
  line-height: 30px;
  font-size: 12px;
  padding-left: 0px;
  padding-right: 0px;
}

main #carouse1 .row .col-xl-2 p:last-child {
  margin-bottom: 20px;
  color: #a10000;
  font-size: 16px;
}

main #carouse1 .carousel-control-prev {
  width: 30px;
  position: absolute;
  left: -30px;
}

main #carouse1 .carousel-control-next {
  width: 30px;
  position: absolute;
  right: 5px;
}

main #carouse1 .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='D3D3D3' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

main #carouse1 .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='D3D3D3' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
